main {
  display: flex;
  justify-content: center;
  background-color: #181818;
}

.mainbox {
  padding-top: 104px;
  padding-bottom: 104px;
  max-width: 1200px;
  left: 0;
  right: 0;
  margin: 0 auto;
}

.portfolio-container {
  width: 100%;
}

h1 {
  color: #ffffff;
  font-size: 128px;
  font-style: normal;
  font-weight: 600;
  line-height: 75%; /* 121px */
  letter-spacing: -3.84px;
  text-transform: uppercase;
}

h2 {
  color: #181818;
  font-size: 96px;
  font-style: normal;
  font-weight: 600;
  line-height: 75%; /* 121px */
  letter-spacing: -1.2px;
  text-transform: uppercase;
}

p {
  color: #ffffff;
  font-size: 16px;
  font-weight: 400;
}

@media (max-width: 1280px) {
  h1 {
    font-size: 96px;
    line-height: 75%;
    letter-spacing: -1.8px;
  }

  h2 {
    font-size: 80px;
    line-height: 75%;
    letter-spacing: -0.8px;
  }

  .mainbox {
    width: auto;
    margin: 0 40px;
    padding-top: 64px;
    padding-bottom: 64px;
  }

  p {
    font-size: 16px;
  }
}

@media (max-width: 480px) {
  .mainbox {
    padding-top: 32px;
    padding-bottom: 32px;
    margin: 0 24px;
  }

  h2 {
    font-family: var(--font-paralucentdemi);
    font-size: 48px;
    letter-spacing: -0.8px;
  }

  h1 {
    font-family: var(--font-paralucentdemi);
    font-size: 64px;
    letter-spacing: -1px;
  }
}
